body {
  font-family: sans-serif;
  padding: 5% 35%;
}

.login {
  border: 1px solid black;
  padding: 2%;
  margin: 1%;
  background-color: whitesmoke;
}

.signup {
  border: 1px solid black;
  padding: 2%;
  margin: 1%;
  background-color: whitesmoke;
}

input {
  margin: 1%;
}

span {
  font-size: 12px;
}

a {
  text-align: center;
  font-size: 12px;
}
