body {
  font-family: sans-serif;
  padding: 5% 30% 0%;
  font-size: large;
  height: 100vh;
}

.login {
  border: 1px solid black;
  padding: 2%;
  margin: 1%;
  background-color: whitesmoke;
  height: 40%;
}

.signup {
  border: 1px solid black;
  padding: 2%;
  margin: 1%;
  background-color: whitesmoke;
  height: 40%;
}

input {
  margin: 1%;
  font-size: large;
}

input text {
  width: 80%;
}

span {
  font-size: 12px;
}

a {
  text-align: center;
  font-size: 20px;
}

h6 {
  font-size: medium;
}
